<h2>Products</h2>
<div>
    <label>Product Name:</label> <input #productName />
    <button (click)="add(productName.value); productName.value=''">
        Add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let p of products" (click)="onSelect(hero)"
        [class.selected]="productName === selectedHero">
        <span class="badge">{{p.id}}</span>
        <span>{{p.name}}</span>
        <!--<button class="delete"-->
                <!--(click)="delete(hero); $event.stopPropagation()">x</button>-->
    </li>
</ul>